$dark-blue: rgb(33, 25, 81);
$indigo: rgb(131, 111, 255);
$neon-green: rgb(21, 245, 186);
$off-white: rgb(240, 243, 255);
$blue: rgb(55, 140, 231);
$light-blue: rgb(103, 198, 227);
$light-light-blue: rgb(223, 245, 255);
$gentle-border: rgba(0, 0, 0, .3);

$bg-color: $dark-blue;
$header-color: $neon-green;
$btn-color: $indigo;
$font-color: $off-white;
$card-bg-color: $neon-green;
