<div class="wrapper">
  <div class="header">Welcome to the Angular 17 Demo App!</div>
  <div class="card">
    <h2>Login</h2>
    <form class="credentials" (submit)="onLogin()" [formGroup]="loginForm">
      <div>
        <label for="username">User Name</label>
        <input
          testing-id="username"
          type="text"
          formControlName="username"
          name="username"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          testing-id="password"
          type="password"
          formControlName="password"
          name="password"
        />
      </div>
      <button
        cButton
        type="submit"
        [isLoading]="isLoading"
        [disabled]="isLoginDisabled"
      >
        Login
      </button>
    </form>
    @if(loginSuccess) {
    <div class="login-success" testing-id="login-success">{{ successMsg }}</div>
    }
  </div>
</div>
