@font-face {
  font-family: "JetBrainsMono";
  src: url("../../assets/fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../../assets/fonts/JetBrainsMono-Bold.ttf");
}
