@import '../animations/animations.scss';

.container {
  background-color: $bg-color;
}

.btn {
  background-color: $btn-color;
}

.nav {
  background-color: $header-color;
}

.header {
  font-size: 1.8rem;
}

.card {
  background-color: $card-bg-color;
  padding: 8px;
  border-radius: 8px;
  color: $bg-color;
  font-size: 1.6rem;
  position: relative;
}

input {
  background-color: unset;
  border-radius: 8px;
  padding: 8px;
  color: $bg-color;
  border: 1px solid $gentle-border;
  outline: none;
}

.loader {
  animation: loader 1.5s linear infinite;
  border: 10px solid #f3f3f3;
  border-top: 10px solid $indigo;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
